@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    font-family: var(--font-padrao);

}

:root{
    --cor1: #e0fbfc;
    --cor2: #c2dfe3;
    --cor3: #4f86c6;
    --cor4: #003049;
    --cor5: #bf825f;
    --cor6: rgba(0, 0, 0, 0.5);

    --font-padrao: 'Courier Prime', sans-serif; 
    --fonte-destaque: 'Oswald';


}
header{
    background-image: linear-gradient(to bottom,#ffffff, var(--cor2), var(--cor3)); 
    padding: 30px;
    max-height: 150px;

}
header > h1{
    color: var(--cor5);
    text-shadow: 2px 2px 0px var(--cor6);
    text-align: center;
    font-family: var(--fonte-destaque);
}
header > p{
    color: var(--cor4);
    text-shadow: 2px 2px 0px var(--cor5);
    text-align: center;
    font-family: var(--fonte-padrao);
}
nav{
    background-color: var(--cor4);
    padding: 5px;
    box-shadow: 3px 3px 6px var(--cor6);
}
nav > a{
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 2px 10px 2px 10px;
    border-radius: 0px 5px;
}
nav > a:hover{
    background-color: #005e90;
    padding: 5px;
    transition-duration: 0.5s;
}
body{
    background-image: linear-gradient(to right, #ffffff, #E0FBFC, #6fa2dd ) 
}

main{
    background-color: white;
    color: var(--cor4);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #003049;
    width: 800px;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
}
main a{
    color: var(--cor4);
}
main > h1{
    font-family: var(--fonte-destaque);
    
}

main > p{
    text-align: justify;
    font-family: var(--font-padrao);
    text-indent: 20px;
    padding: 5px;
}

main a::after{
    content: '\1F448'
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    content: '\1F448'
}

section > h1{
    background-image: linear-gradient(to right, var(--cor2), var(--cor4), var(--cor1)) ;
    border-radius: 5px 0px;
    padding: 2px;
}
section > ol{
    background-color: var(--cor1);
    border-radius: 5px 0px;
}

footer{
    background-color: #003049;
    margin: auto;
    padding: 30px;
    color: white;
    font-size: 0.5em;
    text-align: center;
}
footer > p{
    color: var(--cor1);
}



